{% extends 'base.html.twig' %}

{% block title %}Edit ProduitVendus{% endblock %}

{% block body %}
    <h1>Edit ProduitVendus</h1>

    {{ include('produit_vendus/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_produit_vendus_index') }}">back to list</a>

    {{ include('produit_vendus/_delete_form.html.twig') }}
{% endblock %}
